* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========================================================================
Colors / Typography
========================================================================== */

:root {
  --color-wt: #FFFFFF;
  --color-bk: #2c3e50;
  --color-grey: #f7f8fa;
  --color-gn: #17BFAB;
}

body {
  @include sans-serif;
  max-width: 1024px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
  color: var(--color-bk);
  font-size: 16px;
  @include phone-width{
    padding: 0 16px;
    font-size: 14px;
  }
}


/* ==========================================================================
Utility
========================================================================== */

.img-responsive {
  width: 100%;
  display: block;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  & span {
    font-weight: 300;
  }
}

h2 {
  display: inline-block;
  position: relative;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: -20px;
    width: 5px;
    height: 30px;
    background-color: var(--color-gn);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: -20px;
    width: 5px;
    height: 30px;
    background-color: var(--color-gn);
  }

}

hr {
  width: 40%;
  margin: 32px auto;
  color:var(--color-gn);
  border-style:solid;
}

section {
  padding: 20px;
  text-align: center;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.mb5 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.mb-auto { margin-bottom: auto;
  @include phone-width{
    margin-bottom: 10px
}}
.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}

/* ==========================================================================
Component Button
========================================================================== */

.btn {
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
  color: var(--color-wt);
  background: var(--color-gn);
  border: none;
  text-align: center;
  transition: all 0.5s;
  &:hover {
    background: darken(#17BFAB, 5%);
  }
}

.btn-outline {
  display: inline-block;
  padding: 8px 14px;
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-bk);
  border: 1px solid var(--color-gn);
  background: none;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    border: 1px solid darken(#17BFAB, 5%);
    box-shadow: 0 4px 2px -2px #ccc
  }
}

.btn-md {
  display: block;
  float: none;
  width: 50%;
  margin: 0 auto;
  @include phone-width{
    width: 80%;
  }
}