//  NAV

nav {
  @include serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .logo-container {
    width: 150px;
    height: auto;
    margin: 10px 0;
    @include phone-width{
      margin: 20px 0;
    }
  }

  & ul {
    display: flex;
    list-style: none;
  }
  & li {
    padding: 0 10px;
    & a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-bk);
      &:after {
        display:block;
        content: '';
        border-bottom: solid 3px var(--color-gn);
        transform: scaleX(0);
        transition: transform 500ms ease-in-out;
      }
      &:hover:after { transform: scaleX(1); transform-origin:  0% 50%;}
    }
  }

  @include phone-width{
    flex-direction: column;
    margin-bottom: 16px;
  }
}

// Header

header {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  height: 60vh;
}

header .background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

header .mojito {
  background: #1D976C;
  background: -webkit-gradient(linear, right top, left top, from(#93F9B9), to(#1D976C));
  background: linear-gradient(to left, #93F9B9, #1D976C);
}

header .rainbow {
  // rainbow blue
  background: #00F260;
  background: -webkit-gradient(linear, left top, right top, from(#0575E6), to(#00F260));
  background: linear-gradient(to right, #0575E6, #00F260);
}

header h1 {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .2);
  height: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 50px;
}

// Footer

footer {
  padding: 20px 0;
  text-align: center;
  & .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    & .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      &.mr0 {
        margin-right: 0;
      }
    }
    & a:last-child {
      margin-right: 0px;
    }
  }
  & p {
    font-size: 12px;
    & span {
      display: inline-flex;
      align-items: center;
    }
    & .gatsby {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }
  }
}