
@mixin sans-serif() {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@mixin serif() {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

@mixin phone-width() {
  @media all and (max-width: 600px) {
          @content;
    }
}