
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  label {
    display: block;
    text-transform:  uppercase;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
  }

  & .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
  }
}